In [8]:
import pandas as pd

In [9]:
filename = 'Monthly-Arrivals-2000-Present.xlsx'
countries_df = pd.read_excel(filename)

In [14]:
countries_df = pd.read_excel(filename,
                             skiprows=20,
                             header=None,
                             usecols=[1,2],
                             names=['country', 'region'],
                             index_col=0).dropna()

In [15]:
countries_df

                                                         region
country
Afghanistan                                                Asia
Albania                                          Eastern Europe
Algeria                                                  Africa
Andorra                                          Western Europe
Angola                                                   Africa
...                                                         ...
Yemen                                               Middle East
Yugoslavia                                       Western Europe
Zaire ( formerly Congo, Democratic Republic of)          Africa
Zambia                                                   Africa
Zimbabwe                                                 Africa

[235 rows x 1 columns]

In [16]:
travel_df = pd.read_excel(filename).drop(range(0,19))

In [18]:
travel_df = travel_df.drop([1, ' ', 'World \nRegion', 'Notes:'], axis='columns')

In [21]:
travel_df.columns[0]

'International Visitors--\n   1) Country of Residence\n   2) 1+ nights in the USA\n   3)  Among qualified visa types'

In [22]:
travel_df = travel_df.rename(columns={travel_df.columns[0]: 'country'})

In [26]:
travel_df

,2000-01-02 00:00:00,2000-02-03 00:00:00,2000-03-06 00:00:00,2000-04-07 00:00:00,2000-05-09 00:00:00,2000-06-10 00:00:00,2000-07-12 00:00:00,2000-08-13 00:00:00,2000-09-14 00:00:00,2000-10-16 00:00:00,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03\nPreliminary,Unnamed: 282,Unnamed: 283,Unnamed: 284,Unnamed: 285
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.0,10.0,7.0,8.0,15.0,9.0,11.0,20.0,19.0,14.0,...,327.0,244.0,402.0,265.0,234.0,293.0,NaN,NaN,NaN,NaN
Albania,200.0,214.0,240.0,336.0,483.0,422.0,443.0,549.0,612.0,768.0,...,1404.0,1561.0,2441.0,1507.0,1236.0,2080.0,NaN,NaN,NaN,NaN
Algeria,234.0,176.0,222.0,347.0,261.0,324.0,349.0,310.0,360.0,334.0,...,836.0,739.0,1108.0,747.0,703.0,890.0,NaN,NaN,NaN,NaN
Andorra,110.0,59.0,102.0,119.0,119.0,91.0,116.0,117.0,79.0,134.0,...,223.0,139.0,164.0,139.0,178.0,200.0,NaN,NaN,NaN,NaN
Angola,333.0,180.0,183.0,249.0,253.0,228.0,291.0,321.0,263.0,256.0,...,307.0,251.0,575.0,360.0,244.0,330.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia,285.0,134.0,194.0,240.0,283.0,290.0,359.0,466.0,253.0,232.0,...,385.0,323.0,549.0,321.0,208.0,352.0,NaN,NaN,NaN,NaN
Zimbabwe,762.0,399.0,535.0,735.0,722.0,756.0,659.0,1015.0,578.0,490.0,...,585.0,452.0,941.0,712.0,379.0,547.0,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
travel_df.index.isna()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True,  True])

In [28]:
travel_df = travel_df.loc[~travel_df.index.isna()]

In [30]:
travel_df.columns

Index([   2000-01-02 00:00:00,    2000-02-03 00:00:00,    2000-03-06 00:00:00,
          2000-04-07 00:00:00,    2000-05-09 00:00:00,    2000-06-10 00:00:00,
          2000-07-12 00:00:00,    2000-08-13 00:00:00,    2000-09-14 00:00:00,
          2000-10-16 00:00:00,
       ...
                    '2022-10',              '2022-11',              '2022-12',
                    '2023-01',              '2023-02', '2023-03\nPreliminary',
               'Unnamed: 282',         'Unnamed: 283',         'Unnamed: 284',
               'Unnamed: 285'],
      dtype='object', length=283)

In [32]:
drop_cols = [one_name for one_name in travel_df.columns if str(one_name).startswith("Unnamed")]

In [33]:
travel_df = travel_df.drop(drop_cols, axis='columns')

In [42]:
rename_dict = {one_name: one_name.removesuffix('Preliminary').strip() for one_name in travel_df.columns if str(one_name).endswith('Preliminary')}

In [43]:
travel_df = travel_df.rename(columns=rename_dict)

In [50]:
travel_df.columns = pd.to_datetime(travel_df.columns)

In [45]:
travel_df = travel_df.replace(' -   ', 0)

In [47]:
travel_df = travel_df.fillna(0)

In [48]:
travel_df = travel_df.astype(int)

In [49]:
travel_df

,2000-01-02 00:00:00,2000-02-03 00:00:00,2000-03-06 00:00:00,2000-04-07 00:00:00,2000-05-09 00:00:00,2000-06-10 00:00:00,2000-07-12 00:00:00,2000-08-13 00:00:00,2000-09-14 00:00:00,2000-10-16 00:00:00,...,2022-6,2022-7,2022-8,2022-9,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3,10,7,8,15,9,11,20,19,14,...,317,370,379,274,327,244,402,265,234,293
Albania,200,214,240,336,483,422,443,549,612,768,...,1489,1177,1247,1570,1404,1561,2441,1507,1236,2080
Algeria,234,176,222,347,261,324,349,310,360,334,...,608,895,870,1034,836,739,1108,747,703,890
Andorra,110,59,102,119,119,91,116,117,79,134,...,161,237,276,165,223,139,164,139,178,200
Angola,333,180,183,249,253,228,291,321,263,256,...,270,366,468,314,307,251,575,360,244,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,151,107,123,163,193,209,329,298,184,110,...,121,155,162,117,120,104,181,180,126,155
Yugoslavia,660,412,548,503,660,664,776,867,625,586,...,5,3,9,3,7,8,8,5,7,3
"Zaire ( formerly Congo, Democratic Republic of)",12,8,10,11,10,8,7,24,8,5,...,526,615,823,445,442,427,1315,650,495,815
Zambia,285,134,194,240,283,290,359,466,253,232,...,440,335,404,437,385,323,549,321,208,352
Zimbabwe,762,399,535,735,722,756,659,1015,578,490,...,603,537,946,650,585,452,941,712,379,547

In [51]:
travel_df.columns

DatetimeIndex(['2000-01-02', '2000-02-03', '2000-03-06', '2000-04-07',
               '2000-05-09', '2000-06-10', '2000-07-12', '2000-08-13',
               '2000-09-14', '2000-10-16',
               ...
               '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
               '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01',
               '2023-02-01', '2023-03-01'],
              dtype='datetime64[ns]', length=279, freq=None)

In [60]:
travel_df['2023-03-01'].sort_values(ascending=False).head(10)

country
United Kingdom    300896
Germany           144399
Japan             112269
South Korea       106087
India             105203
Brazil            103830
France             92747
China              67440
Italy              62312
Colombia           61949
Name: 2023-03-01 00:00:00, dtype: int32

In [61]:
travel_df[travel_df.columns[-1]].sort_values(ascending=False).head(10)

country
United Kingdom    300896
Germany           144399
Japan             112269
South Korea       106087
India             105203
Brazil            103830
France             92747
China              67440
Italy              62312
Colombia           61949
Name: 2023-03-01 00:00:00, dtype: int32

In [62]:
travel_df[travel_df.columns[0]].sort_values(ascending=False).head(10)

country
Canada            937669
Japan             354266
United Kingdom    242422
Mexico            234000
Germany           100632
Brazil             69634
France             63624
Argentina          54136
South Korea        53797
Italy              41661
Name: 2000-01-02 00:00:00, dtype: int32

In [66]:
travel_df[[travel_df.columns[0]]].join(countries_df)

,2000-01-02 00:00:00,region
country,,
Afghanistan,3,Asia
Albania,200,Eastern Europe
Algeria,234,Africa
Andorra,110,Western Europe
Angola,333,Africa
...,...,...
Yemen,151,Middle East
Yugoslavia,660,Western Europe
"Zaire ( formerly Congo, Democratic Republic of)",12,Africa
Zambia,285,Africa
Zimbabwe,762,Africa

In [79]:
travel_df[[travel_df.columns[0]]].join(countries_df).groupby('region').sum().sort_values(travel_df.columns[0])

                 2000-01-02 00:00:00
region
Africa                         18716
Eastern Europe                 29311
Oceania                        51436
Middle East                    53081
Central America                64922
Caribbean                      73336
South America                 240226
Asia                          532666
Western Europe                630045
North America                1171669

In [81]:
travel_df[[travel_df.columns[-1]]].join(countries_df).groupby('region').sum().sort_values(travel_df.columns[-1])

                 2023-03-01 00:00:00
region
North America                      0
Africa                         32501
Eastern Europe                 63353
Oceania                        70339
Middle East                    73986
Central America                95202
Caribbean                     103558
South America                 332016
Asia                          491784
Western Europe                894867

In [93]:
travel_df.pct_change(axis='columns')

,2000-01-02,2000-02-03,2000-03-06,2000-04-07,2000-05-09,2000-06-10,2000-07-12,2000-08-13,2000-09-14,2000-10-16,...,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01,2023-03-01
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,2.333333,-0.300000,0.142857,0.875000,-0.400000,0.222222,0.818182,-0.050000,-0.263158,...,0.148551,0.167192,0.024324,-0.277045,0.193431,-0.253823,0.647541,-0.340796,-0.116981,0.252137
Albania,NaN,0.070000,0.121495,0.400000,0.437500,-0.126294,0.049763,0.239278,0.114754,0.254902,...,0.129742,-0.209537,0.059473,0.259022,-0.105732,0.111823,0.563741,-0.382630,-0.179827,0.682848
Algeria,NaN,-0.247863,0.261364,0.563063,-0.247839,0.241379,0.077160,-0.111748,0.161290,-0.072222,...,0.245902,0.472039,-0.027933,0.188506,-0.191489,-0.116029,0.499323,-0.325812,-0.058902,0.266003
Andorra,NaN,-0.463636,0.728814,0.166667,0.000000,-0.235294,0.274725,0.008621,-0.324786,0.696203,...,-0.157068,0.472050,0.164557,-0.402174,0.351515,-0.376682,0.179856,-0.152439,0.280576,0.123596
Angola,NaN,-0.459459,0.016667,0.360656,0.016064,-0.098814,0.276316,0.103093,-0.180685,-0.026616,...,-0.166667,0.355556,0.278689,-0.329060,-0.022293,-0.182410,1.290837,-0.373913,-0.322222,0.352459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,NaN,-0.291391,0.149533,0.325203,0.184049,0.082902,0.574163,-0.094225,-0.382550,-0.402174,...,0.301075,0.280992,0.045161,-0.277778,0.025641,-0.133333,0.740385,-0.005525,-0.300000,0.230159
Yugoslavia,NaN,-0.375758,0.330097,-0.082117,0.312127,0.006061,0.168675,0.117268,-0.279123,-0.062400,...,0.666667,-0.400000,2.000000,-0.666667,1.333333,0.142857,0.000000,-0.375000,0.400000,-0.571429
"Zaire ( formerly Congo, Democratic Republic of)",NaN,-0.333333,0.250000,0.100000,-0.090909,-0.200000,-0.125000,2.428571,-0.666667,-0.375000,...,-0.036630,0.169202,0.338211,-0.459295,-0.006742,-0.033937,2.079625,-0.505703,-0.238462,0.646465
Zambia,NaN,-0.529825,0.447761,0.237113,0.179167,0.024735,0.237931,0.298050,-0.457082,-0.083004,...,0.222222,-0.238636,0.205970,0.081683,-0.118993,-0.161039,0.699690,-0.415301,-0.352025,0.692308
Zimbabwe,NaN,-0.476378,0.340852,0.373832,-0.017687,0.047091,-0.128307,0.540212,-0.430542,-0.152249,...,0.065371,-0.109453,0.761639,-0.312896,-0.100000,-0.227350,1.081858,-0.243358,-0.467697,0.443272

In [86]:
((travel_df.pct_change(axis='columns') < 0))

,2000-01-02,2000-02-03,2000-03-06,2000-04-07,2000-05-09,2000-06-10,2000-07-12,2000-08-13,2000-09-14,2000-10-16,...,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01,2023-03-01
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,False,False,True,False,False,True,False,False,True,True,...,False,False,False,True,False,True,False,True,True,False
Albania,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,True,False,False,True,True,False
Algeria,False,True,False,False,True,False,False,True,False,True,...,False,False,True,False,True,True,False,True,True,False
Andorra,False,True,False,False,False,True,False,False,True,False,...,True,False,False,True,False,True,False,True,False,False
Angola,False,True,False,False,False,True,False,False,True,True,...,True,False,False,True,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,False,True,False,False,False,False,False,True,True,True,...,False,False,False,True,False,True,False,True,True,False
Yugoslavia,False,True,False,True,False,False,False,False,True,True,...,False,True,False,True,False,False,False,True,False,True
"Zaire ( formerly Congo, Democratic Republic of)",False,True,False,False,True,True,True,False,True,True,...,True,False,False,True,True,True,False,True,True,False
Zambia,False,True,False,False,False,False,False,False,True,True,...,False,True,False,False,True,True,False,True,True,False
Zimbabwe,False,True,False,False,True,False,True,False,True,True,...,False,True,False,True,True,True,False,True,True,False

In [91]:
((travel_df.pct_change(axis='columns') < 0)).sum(axis='columns')

country
Afghanistan                                        125
Albania                                            131
Algeria                                            138
Andorra                                            131
Angola                                             123
                                                  ...
Yemen                                              136
Yugoslavia                                         124
Zaire ( formerly Congo, Democratic Republic of)    141
Zambia                                             132
Zimbabwe                                           136
Length: 235, dtype: int64

In [94]:
((travel_df.pct_change(axis='columns') < 0)).sum(axis='columns') / len(travel_df.columns)

country
Afghanistan                                        0.448029
Albania                                            0.469534
Algeria                                            0.494624
Andorra                                            0.469534
Angola                                             0.440860
                                                     ...
Yemen                                              0.487455
Yugoslavia                                         0.444444
Zaire ( formerly Congo, Democratic Republic of)    0.505376
Zambia                                             0.473118
Zimbabwe                                           0.487455
Length: 235, dtype: float64

In [97]:
(((travel_df.pct_change(axis='columns') < 0)).sum(axis='columns') / len(travel_df.columns)).sort_values(ascending=False)

country
Canada                          0.605735
Brunei                          0.541219
Botswana                        0.537634
Austria                         0.530466
Poland                          0.526882
                                  ...
Saint Maarten                   0.121864
Bonaire, St. Eustatius, Saba    0.107527
West Indies (French)            0.050179
South Sudan, Republic of        0.000000
Indian Ocean Areas (French)     0.000000
Length: 235, dtype: float64

In [99]:
travel_df.resample('10Y', axis='columns').mean()

,2000-12-31,2010-12-31,2020-12-31,2030-12-31
country,,,,
Afghanistan,10.750000,48.366667,185.041667,179.592593
Albania,478.083333,418.000000,861.108333,1110.111111
Algeria,274.500000,252.141667,763.641667,406.222222
Andorra,102.916667,98.033333,117.958333,108.370370
Angola,262.166667,365.258333,746.591667,224.925926
...,...,...,...,...
Yemen,166.250000,68.850000,151.383333,87.629630
Yugoslavia,669.916667,336.800000,8.558333,2.851852
"Zaire ( formerly Congo, Democratic Republic of)",9.250000,40.358333,394.116667,407.888889
Zambia,278.083333,247.800000,305.941667,227.851852
Zimbabwe,673.333333,406.450000,514.525000,391.037037