In [1]:
import pandas as pd

In [2]:
url = 'http://unionstats.com/ind/xls/ind_2022.xlsx'
df = pd.read_excel(url)

In [3]:
df

,"Union Membership, Coverage, Density and Employment by Broad Industry: 2022","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.1","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.2","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.3","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.4","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.5","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.6","Union Membership, Coverage, Density and Employment by Broad Industry: 2022.7"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CIC,Industry,Obs,Employment (in 1000s),Members (in 1000s),Covered (in 1000s),% Mem,% Cov
2,NaN,"AGRICULTURE, FORESTRY, FISHING, & HUNTING",1392,1305.519404,59.365436,66.706089,0.045473,0.051095
3,170,Crop production,681,725.802144,34.430361,37.037463,0.047438,0.05103
4,180,Animal production,409,329.541963,6.328001,7.943534,0.019202,0.024105
...,...,...,...,...,...,...,...,...
281,9570,Administration of economic programs and space ...,688,579.957376,126.866647,151.748618,0.218752,0.261655
282,9590,National security and international affairs,1136,1041.848755,167.183206,203.090134,0.160468,0.194932
283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,"Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma...","Copyright 2023 by Barry T. Hirsch, David A. Ma..."

In [4]:
df = (
    pd.read_excel(url, header=2).drop(283)
)

In [5]:
df

,CIC,Industry,Obs,Employment (in 1000s),Members (in 1000s),Covered (in 1000s),% Mem,% Cov
0,NaN,"AGRICULTURE, FORESTRY, FISHING, & HUNTING",1392,1305.519404,59.365436,66.706089,0.045473,0.051095
1,170,Crop production,681,725.802144,34.430361,37.037463,0.047438,0.05103
2,180,Animal production,409,329.541963,6.328001,7.943534,0.019202,0.024105
3,190,Forestry except logging,73,50.838333,6.757201,9.875218,0.132915,0.194247
4,270,Logging,76,61.430077,2.482634,2.482634,0.040414,0.040414
...,...,...,...,...,...,...,...,...
278,9490,Administration of environmental quality and ho...,372,286.174807,59.826839,67.009934,0.209057,0.234157
279,9570,Administration of economic programs and space ...,688,579.957376,126.866647,151.748618,0.218752,0.261655
280,9590,National security and international affairs,1136,1041.848755,167.183206,203.090134,0.160468,0.194932
281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.loc[df['Industry'] == df['Industry'].str.upper()]

,CIC,Industry,Obs,Employment (in 1000s),Members (in 1000s),Covered (in 1000s),% Mem,% Cov
0,NaN,"AGRICULTURE, FORESTRY, FISHING, & HUNTING",1392,1305.519404,59.365436,66.706089,0.045473,0.051095
7,NaN,MINING,757,560.224509,39.335038,46.686631,0.070213,0.083336
13,NaN,UTILITIES,9410,10408.468727,1444.123536,1531.107703,0.138745,0.147102
20,770,CONSTRUCTION,8092,9062.764185,1144.418346,1211.035925,0.126277,0.133628
21,NaN,NONDURABLE GOODS MANUFACTURING,4739,5295.787239,405.436836,436.693004,0.076558,0.08246
57,NaN,DURABLE GOODS MANUFACTURING,8436,9400.676888,756.040938,842.13135,0.080424,0.089582
102,NaN,WHOLESALE TRADE,2649,2885.766648,94.931969,112.239203,0.032897,0.038894
124,NaN,RETAIL TRADE,13850,15094.40852,653.792544,755.215187,0.043314,0.050033
160,NaN,TRANSPORTATION & WAREHOUSING,6492,7578.251957,1518.231387,1612.252551,0.200341,0.212747
173,NaN,INFORMATION,2271,2545.698293,230.235535,250.630092,0.090441,0.098452
186,NaN,FINANCE & INSURANCE,6479,7235.060942,116.080321,165.968358,0.016044,0.022939
193,NaN,REAL ESTATE & RENTAL & LEASING,2026,2276.295139,98.984445,119.262705,0.043485,0.052393
199,NaN,"PROF., SCIENTIFIC, TECHNICAL SERVICES",10136,11455.323808,182.753849,248.608642,0.015954,0.021702
210,NaN,MANAGEMENT & RELATED SERVICES,4808,5601.081213,287.853231,326.194433,0.051392,0.058238
220,NaN,EDUCATIONAL SERVICES,12916,13576.61406,4010.796154,4496.881437,0.295419,0.331223
225,NaN,HEALTH CARE & SOCIAL ASSISTANCE,18917,20332.959726,1627.297138,1879.275805,0.080032,0.092425
242,NaN,"ARTS, ENTERTAINMENT, & RECREATION",2373,2604.108808,193.59603,226.900109,0.074343,0.087132
250,NaN,ACCOMODATION & FOOD SERVICES,8699,9888.746293,210.010331,248.889656,0.021237,0.025169
255,NaN,"OTHER SERVICES, EXC. PUBLIC ADMIN.",5564,5975.81257,183.547614,211.444249,0.030715,0.035383
272,NaN,PUBLIC ADMINISTRATION,7800,7677.692569,2167.664144,2418.806699,0.282333,0.315043

In [7]:
df.loc[df['Industry'] == df['Industry'].str.upper()].sort_values('% Mem', ascending=False).head(5)

,CIC,Industry,Obs,Employment (in 1000s),Members (in 1000s),Covered (in 1000s),% Mem,% Cov
220,NaN,EDUCATIONAL SERVICES,12916,13576.61406,4010.796154,4496.881437,0.295419,0.331223
272,NaN,PUBLIC ADMINISTRATION,7800,7677.692569,2167.664144,2418.806699,0.282333,0.315043
160,NaN,TRANSPORTATION & WAREHOUSING,6492,7578.251957,1518.231387,1612.252551,0.200341,0.212747
13,NaN,UTILITIES,9410,10408.468727,1444.123536,1531.107703,0.138745,0.147102
20,770,CONSTRUCTION,8092,9062.764185,1144.418346,1211.035925,0.126277,0.133628

In [8]:
df.loc[df['Industry'] == df['Industry'].str.upper(),
  ['Industry', '% Mem']
].sort_values('% Mem', ascending=False).head(5)

                         Industry     % Mem
220          EDUCATIONAL SERVICES  0.295419
272         PUBLIC ADMINISTRATION  0.282333
160  TRANSPORTATION & WAREHOUSING  0.200341
13                      UTILITIES  0.138745
20                   CONSTRUCTION  0.126277

In [9]:
df.loc[df['Industry'] == df['Industry'].str.upper(),
  ['Industry', '% Mem']
].sort_values('% Mem', ascending=True).head(5)

                                  Industry     % Mem
199  PROF., SCIENTIFIC, TECHNICAL SERVICES  0.015954
186                    FINANCE & INSURANCE  0.016044
250           ACCOMODATION & FOOD SERVICES  0.021237
255     OTHER SERVICES, EXC. PUBLIC ADMIN.  0.030715
102                        WHOLESALE TRADE  0.032897